# fly.toml app configuration file generated for pallas on 2026-02-14T01:07:51Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'pallas'
primary_region = 'lhr'

[build]

[processes]
  app = "node dbsetup.js npm run start"

[[mounts]]
  source = 'data'
  destination = '/data'
  auto_extend_size_threshold = 80
  auto_extend_size_increment = '1GB'
  auto_extend_size_limit = '10GB'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
